@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#order{
    width: 100%;
    min-height: 100vh;
    @include flex;
    flex-direction: column;
    #confirm{
        @include flex;
        flex-direction: column;
    }
    #orderInfo{
        color: white;
        font-weight: 700;
        padding: 20px;

    }
    button{
        background-color: rgb(196, 14, 14);
    color: white;
    position: relative;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    &:hover{
        background-color: rgb(99, 7, 7);
    }
    }
}